/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Poppins:wght@400;500;700&family=Varela+Round&display=swap");
/* scss variables */
/* css variables */
/* colores */
:root {
  --main-color: #0396a6;
  --dark-color: #000;
  --white-color: #f2f2f2;
}

/* fonts and typography*/
:root {
  --body-font: 'Open Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --h2-font-size: 1.25rem;
  --normall-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 7rem;
    --h2-font-size: 1.5rem;
    --normall-font-size: 1rem;
  }
}

/* z-index */
:root {
  --z-back:-10;
  --z-normal:1;
  --z-tooltip:10;
  --z-fixed:100;
  --z-modal:1000;
}

/* Base */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* layout */
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-modal);
}

/* nav bar */
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 30%;
    padding: 2rem;
    text-align: center;
    z-index: var(--z-fixed);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.nav-logo {
  color: var(--white-color);
}

.nav-item {
  margin-bottom: 2rem;
}

.nav-link {
  color: var(--white-color);
  font-size: 20px;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/* show menu */
.show {
  top: 3rem;
}

/* home */
.home {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home-parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-parallax-img1 {
  background-image: url("/img/imgm1.png");
  z-index: var(--z-normal);
}

.home-parallax-img2 {
  background-image: url("/img/imgm2.png");
  z-index: var(--z-tooltip);
}

.home-parallax-img3 {
  background-image: url("/img/imgm3.png");
  z-index: var(--z-fixed);
}

.home-parallax-img4 {
  background-image: url("/img/imgm4.png");
  z-index: var(--z-fixed);
}

.home-title, .home-subtitle {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-color);
}

.home-title {
  top: 32%;
  font-size: var(--biggest-font-size);
  z-index: var(--z-normal);
}

.home-subtitle {
  top: 44%;
  font-size: var(--h2-font-size);
  z-index: var(--z-tooltip);
}

.home-scroll {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  z-index: var(--z-modal);
}

.home-scroll .bx-mouse {
  color: var(--white-color);
}

/*section*/
.l-section {
  background-color: var(--dark-color);
}

.section {
  height: 100vh;
  max-width: 950px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-data {
  margin-bottom: 3rem;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--main-color);
  margin-bottom: 1rem;
}

.section-img {
  width: 285px;
  border-radius: .5rem;
}

/*media queries*/
@media screen and (min-width: 768px) {
  .nav {
    height: 4rem;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item {
    margin-right: 3rem;
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .home-title {
    top: 27%;
  }
  .home-subtitle {
    top: 50%;
  }
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .section-data {
    font-size: 25px;
  }
  .section-title {
    font-size: 30px;
  }
  .section-text {
    padding-right: 4rem;
  }
  .section-img {
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=styles.css.map */